.NewReleaseDropdown:hover
{
    text-decoration: underline;
    
}

.NewReleaseDropdown::after
{
    content: none;
}

.NewReleaseDropdown:Hover .dropdown-menu
{
    display: block;
    margin-top: 0;
}

.Drophover:hover
{
    display: block;
}
