<nav class="navbar bg-light" >
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item"><a class="nav-link text-light" href="#">Free Shipping & 60-Day Free Returns</a></li>
    </ul>
    <ul class="nav nav-pills nav-justified">
        <ul>
            <p class="nav-item"><a class="nav-link text-black" style="height: 1em;">Free Shipping & 60-Day Free Returns</a></p>
            <p class="nav-item text-decoration-underline"><a class="nav-link text-black" style="height: 1em;" href="#">Join Now</a></p>
        </ul>
    </ul>
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item"><a class="nav-link text-light" href="#">Free Shipping & 60-Day Free Returns</a></li>
    </ul>
</nav>