<div class="headingpad">
    <h2 class="fontxl">New from Nike Basketball</h2>
</div>

<div class="card imgpadding text-white">
    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_1792,c_limit/bd70a65d-4386-4ddb-bdad-51e1a803c1b6/nike-just-do-it.jpg" class="card-img" alt="...">
    <div class="gtext">
      <h5 class="gfont">GIANNIS'S ZOOM FREAK 3</h5>
      <p class="gpad1">Ensuring that when you take your first step, you take over the game.</p>     
      <div class="gbtnpad">
            <button class="btn gbtn btn-dark" type="button" href="#">Shop</button>
      </div>    
    </div>
</div>