<div class="card text-white" style="padding-left: 3.7em; padding-right: 3.7em; padding-bottom: 5em;">
    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_1792,c_limit/2f74a6fb-5d13-4bc3-a8dd-567016efefc0/nike-just-do-it.jpg" class="card-img" alt="...">
    <div class="card-img-overlay" style="padding-left: 6em; padding-top: 38em;">
      <h5 class="card-title" style="font-size: 5em; font-weight: 700; font-family: sans-serif;">Presenting <br>Nike Fleece</h5>
      <p class="card-text">We all have go-to sweats &amp; a fav hoodie, <br>but Nike Fleece is so much more.</p>     
      <div class="d-grid gap-2 d-md-block">
         <button class="btn btn-light bg-white" type="button" style="border-radius: 20px;width: 5em;">Shop</button>
         <button class="btn btn-light bg-white" type="button" style="border-radius: 20px;width: 7em;">Explore</button>
      </div>    
    </div>
</div>

<div style="padding-left: 3.7em;padding-bottom: 1em;">
    <h2 style="font-size: x-large;">New from Nike Basketball</h2>
</div>

<div class="card text-white" style="padding-left: 3.7em; padding-right: 3.7em; padding-bottom: 5em;">
    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_1792,c_limit/bd70a65d-4386-4ddb-bdad-51e1a803c1b6/nike-just-do-it.jpg" class="card-img" alt="...">
    <div  style="padding-left: 25em; color: #000;">
      <h5 style="font-size: 5em; font-weight: 700;">GIANNIS'S ZOOM FREAK 3</h5>
      <p style="padding-left: 16em;">Ensuring that when you take your first step, you take over the game.</p>     
      <div class="d-grid gap-2 d-md-block" style="padding-left: 28em;">
            <button class="btn btn-dark" type="button" style="border-radius: 20px;width: 5em;" href="#">Shop</button>
      </div>    
    </div>
</div>

<div style="padding-left: 3.7em; padding-bottom: 1em;">
    <h2 style="font-size: x-large;">Get Geared Up</h2>
</div>

<div class="card text-white" style="padding-left: 3.7em; padding-bottom: 5em;">
    <ul class="nav nav-pills">
        <img style="width: 600px; height: 700px;"src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_591,c_limit/efb4fc5b-aaee-4008-8937-da9506e96868/nike-just-do-it.jpg" class="card-img" alt="...">
        <div class="card-img-overlay" style="padding-left: 6em; padding-top: 40em;">
            <h5 class="card-title" style="font-size: 20px; font-weight: 0; font-family: sans-serif;">Gear Up for Soccer</h5>       
        </div>
        <img style="width: 600px; height: 700px;padding-left: 1em;"src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_591,c_limit/13604ef8-183a-416c-a429-c3bae42c79e7/nike-just-do-it.jpg" class="card-img" alt="...">
        <div class="card-img-overlay" style="padding-left: 45em; padding-top: 40em;">
            <h5 class="card-title" style="font-size: 20px; font-weight: 0; font-family: sans-serif;">Gear Up for Volleyball</h5>       
        </div>
        <img style="width: 600px; height: 700px;padding-left: 1em;"src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_591,c_limit/aa4efd44-6acd-4650-a03f-68d3dc513611/nike-just-do-it.jpg" class="card-img" alt="...">
        <div class="card-img-overlay" style="padding-left: 82em; padding-top: 40em;">
            <h5 class="card-title" style="font-size: 20px; font-weight: 0; font-family: sans-serif;">Gear Up for Cross Country</h5>       
        </div>
    </ul>
</div>

<div style="padding-left: 3.7em; padding-bottom: 1em;">
    <h2 style="font-size: x-large;">Trending Now</h2>
</div>

<div class="card text-white" style="padding-left: 3.7em; padding-bottom: 5em;">
    <ul class="nav nav-pills">
        <img style="width: 900px; height: 900px;"src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_888,c_limit/3832f94b-0de2-4d56-87f7-39b9e79cb180/nike-just-do-it.jpg" class="card-img" alt="...">
        <div class="card-img-overlay" style="padding-left: 6em; padding-top: 46em;">
            <h5 class="card-title" style="font-size: 24px; font-weight: 0; font-family: sans-serif;padding-bottom: 1em;">Just In: Serena Williams <br>Design Crew Collection</h5> 
            <button class="btn btn-light bg-white" type="button" style="border-radius: 20px;width: 5em;">Shop</button>      
        </div>
        <img style="width: 900px; height: 900px;padding-left: 1em;"src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_888,c_limit/f73754c8-89eb-4bf0-97c8-c940206aecbf/nike-just-do-it.jpg" class="card-img" alt="...">
        <div class="card-img-overlay" style="padding-left: 65em; padding-top: 48em;">
            <h5 class="card-title" style="font-size: 24px; font-weight: 0; font-family: sans-serif;padding-bottom: 1em;">Explore Serena's New Looks</h5> 
            <button class="btn btn-light bg-white" type="button" style="border-radius: 20px;width: 8em;">Learn More</button>      
        </div>
    </ul>
</div>