<div class="headingpad">
    <h2 class="fontxl">Get Geared Up</h2>
</div>

<div class="card simgpadding text-white">
    <ul class="nav nav-pills">
        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_591,c_limit/efb4fc5b-aaee-4008-8937-da9506e96868/nike-just-do-it.jpg" class="card-img simgsize">
        <div class="card-img-overlay toppad40 leftpad6">
            <h5 class="card-title font20">Gear Up for Soccer</h5>       
        </div>
        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_591,c_limit/13604ef8-183a-416c-a429-c3bae42c79e7/nike-just-do-it.jpg" class="card-img simgsize">
        <div class="card-img-overlay toppad40 leftpad45">
            <h5 class="card-title font20">Gear Up for Volleyball</h5>       
        </div>
        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_591,c_limit/aa4efd44-6acd-4650-a03f-68d3dc513611/nike-just-do-it.jpg" class="card-img simgsize">
        <div class="card-img-overlay toppad40 leftpad82">
            <h5 class="card-title font20">Gear Up for Cross Country</h5>       
        </div>
    </ul>
</div>