<div class="headingpad">
    <h2 class="fontxl">Trending Now</h2>
</div>

<div class="card duocardpad text-white">
    <ul class="nav nav-pills">
        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_888,c_limit/3832f94b-0de2-4d56-87f7-39b9e79cb180/nike-just-do-it.jpg" class="card-img duocardsize1">
        <div class="card-img-overlay duocardol1">
            <h5 class="card-title duocardfont">Just In: Serena Williams <br>Design Crew Collection</h5> 
            <button class="btn dcbtn1 btn-light bg-white" type="button">Shop</button>      
        </div>
        <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_888,c_limit/f73754c8-89eb-4bf0-97c8-c940206aecbf/nike-just-do-it.jpg" class="card-img duocardsize2">
        <div class="card-img-overlay duocardol2">
            <h5 class="card-title duocardfont">Explore Serena's New Looks</h5> 
            <button class="btn dcbtn2 btn-light bg-white" type="button">Learn More</button>      
        </div>
    </ul>
</div>