<div class="LaGpad">
    <ul class="nav nav-pills">
        <h2 class="LaGhead">The Latest and Greatest</h2>
        <button class="btn LaGbtn btn-light bg-grey" type="button">&lt;</button>
        <button class="btn LaGbtn btn-light bg-grey" type="button">&gt;</button>
    </ul>
</div>

<div class="card text-white" style="padding-left: 2.5em;">
    <ul class="nav nav-pills">
        <img style="width: 600px; height: 600px;padding-left: 1em;"src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/w_591,c_limit/9ff6d8fd-fdff-4626-9969-a38b09f42d7f/air-force-1-crater-mens-shoes-N0dK94.png" class="card-img">        
        <img style="width: 600px; height: 600px;padding-left: 1em;"src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/w_591,c_limit/b4aa8e56-f239-49ec-a3b7-1dd8b44e593b/air-force-1-fontanka-womens-shoes-cWbdwn.png" class="card-img">       
        <img style="width: 600px; height: 600px;padding-left: 1em;"src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_1.0/w_591,c_limit/13f668fb-1545-40b7-b9a1-2a2a38e0e492/air-force-1-crater-big-kids-shoes-7BPFd2.png" class="card-img"> 
    </ul>
</div>

<div class="text-black" style="padding-left: 3.7em;">
    <ul class="nav nav-pills">
        <p>Nike Air Force 1 Crater</p>
        <p style="padding-left: 24em;">$110</p>
        <p style="padding-left: 2.4em;">Nike Air Force 1 Fotanka</p>
        <p style="padding-left: 23em;">$110</p>
        <p style="padding-left: 2.4em;">Nike Air Force 1 Crater</p>
        <p style="padding-left: 23em;">$95</p>
    </ul>
    <ul class="nav nav-pills">
        <p style="color: gray;">Men's Shoes</p>
        <p style="padding-left: 33em;color: gray;">Women's Shoes</p>
        <p style="padding-left: 31.3em;color: gray;">Big Kids' Shoes</p>
    </ul>
</div>