<div class="card bg-dark text-white">
    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_1792,c_limit/2f74a6fb-5d13-4bc3-a8dd-567016efefc0/nike-just-do-it.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>

<!--<div>
    <div id="dddd4e8a-99fd-4489-8b37-4c767c85d734" data-qa="grid" data-container-type="image" data-fluid-grid="false" class="grid Z25uR9U5 fixed-fluid ncss-container _1WKaQgke css-1vtn5w7" style="position:relative">
        <div id="adf37c52-2162-4dd2-a702-dd054c31a7c1" data-qa="grid-row" class="ncss-row grid-row">
            <div id="36860f9b-9733-4a5f-a428-4b93a0f91346" data-qa="grid-col" class="grid-col va-sm-t ncss-col-lg-12 ncss-col-md-12 ncss-col-sm-12 ncss-col-lg-offset-0 ncss-col-md-offset-0 ncss-col-sm-offset-0">
                <div>
                    <figure data-analytics-placement-id="19e2b6bc-8400-43f0-8b2f-04c49ad9850e" data-analytics-has-landmark="true" data-qa="image-card" class="image-card _3l8ZuNi4">
                        <div height="maintain" data-qa="image-wrapper" class="_3-GXPD9b _12NrIYxy _1J1k7Sv3 media-container _3gD-bTqH _2TUCh3j2 css-1xufqsp">
                            <div style="width:100%;height:100%;padding-left: 3.7em;" data-qa="image-media">
                                <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_1792,c_limit/2f74a6fb-5d13-4bc3-a8dd-567016efefc0/nike-just-do-it.jpg">
                            </div>
                        </div>
                        <figcaption class="_13xDDA0A _2n345FhB _1uUVQf9l" data-qa="card-overlay">
                            <div class="_3T7SP3hk" data-qa="card-overlay-content">
                                <p data-qa="title" class="si35-ISy responsive-display-2-1 _2svRm8bR text-color-primary-dark" style="color:#000000;">PRESENTING <br>NIKE FLEECE</p>
                                <p data-qa="body" class="body-2 mt6-sm text-color-primary-dark" style="color:#000000;">We all have go-to sweats &amp; a fav hoodie, <br>but Nike Fleece is so much more.</p>
                                <div class="YEqpdVMc cta-container hasText" data-qa="cta-container">
                                    <a href="https://www.nike.com/w/fleece-clothing-4xh6qz6ymx6" target="_self" data-analytics-action-id="7ef1ae75-110a-4c3e-9599-be8418dc4e2d" data-analytics-allow="false" class="dz_xjzja _2minRfAM ncss-btn-primary-light bihGx79a" data-qa="cta-button" data-qa-card-id="0bfc4e08-8e1d-41f5-a544-77765a50aff7" tabindex="0" data-actiontext="Shop" aria-label="Shop (https://www.nike.com/w/fleece-clothing-4xh6qz6ymx6)">Shop</a>
                                    <a href="https://www.nike.com/nike-fleece" target="_self" data-analytics-action-id="aedf2007-37ce-44df-9fef-8e773d16b8dd" data-analytics-allow="false" class="dz_xjzja _2minRfAM ncss-btn-primary-light bihGx79a" data-qa="cta-button" data-qa-card-id="0bfc4e08-8e1d-41f5-a544-77765a50aff7" tabindex="0" data-actiontext="Explore" aria-label="Explore (https://www.nike.com/nike-fleece)">Explore</a>
                                </div>
                            </div>
                        </figcaption><a href="https://www.nike.com/w/fleece-clothing-4xh6qz6ymx6" target="_self" data-analytics-action-id="a7941c76-b632-4939-a6ae-967c44ebf4d6" class="_1GPQ9HJJ" data-qa-card-id="0bfc4e08-8e1d-41f5-a544-77765a50aff7" aria-label="Visit https://www.nike.com/w/fleece-clothing-4xh6qz6ymx6"></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

-->

<div id="8f7f66c6-21a2-4f13-a408-9b12a97d3513" data-qa="grid" data-container-type="section_headline" data-fluid-grid="false" class="grid Z25uR9U5 fixed-fluid ncss-container _1WKaQgke css-8fcif css-1wf7v22" style="position:relative">
    <div id="6c9ad9a4-4b61-4c0f-bc85-9ecfa059bbb7" data-qa="grid-row" class="ncss-row grid-row">
        <div id="13c702b8-88ac-47b7-bf84-ac144c54d4af" data-qa="grid-col" class="grid-col va-sm-t ncss-col-lg-12 ncss-col-md-12 ncss-col-sm-12 ncss-col-lg-offset-0 ncss-col-md-offset-0 ncss-col-sm-offset-0">
            <div>
                <div data-analytics-placement-id="11a9fe49-c4e7-4d92-901e-6a4189ed1296" data-qa="section-headline" class="_355YWnGn mb6-sm">
                    <h2 id="a38498db-11b3-44eb-aaa9-ce6f46991c29" class="text-color-primary-dark _2PzKMD0A card headline-3">New from Nike Basketball</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="2f056883-36aa-44b5-b19e-96b04e10df0f" data-qa="grid-row" class="ncss-row grid-row">
        <div id="c4760cd0-d816-477e-98af-7ae2ebf29607" data-qa="grid-col" class="grid-col va-sm-t ncss-col-lg-12 ncss-col-md-12 ncss-col-sm-12 ncss-col-lg-offset-0 ncss-col-md-offset-0 ncss-col-sm-offset-0">
            <div>
                <figure data-analytics-placement-id="2dc3b8dd-84a8-4653-8084-c34bc507f7c0" data-analytics-has-landmark="true" data-qa="image-card" class="image-card _3l8ZuNi4">
                    <div height="maintain" data-qa="image-wrapper" class="_3-GXPD9b _12NrIYxy _1J1k7Sv3 media-container _3gD-bTqH css-1xufqsp">
                        <div style="width:100%;height:100%;padding-left: 3.7em;" data-qa="image-media">
                            <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_1792,c_limit/bd70a65d-4386-4ddb-bdad-51e1a803c1b6/nike-just-do-it.jpg">
                        </div>
                    </div>
                    <figcaption class="_13xDDA0A o0L_Z0WU _1s-A3PtI" data-qa="card-overlay">
                        <div class="_3T7SP3hk" data-qa="card-overlay-content">
                            <p data-qa="title" class="si35-ISy responsive-display-2-1 _2svRm8bR text-color-primary-dark" style="color:#111111">GIANNIS'S ZOOM FREAK 3</p>
                            <p data-qa="body" class="body-2 mt6-sm text-color-primary-dark" style="color:#111111">Ensuring that when you take your first step, you take over the game.</p>
                        <div class="YEqpdVMc cta-container hasText" data-qa="cta-container">
                            <a href="https://www.nike.com/w/basketball-shoes-3glsmzy7ok" target="_self" data-analytics-action-id="50de9f54-1cfd-4981-b3e8-3016c940cfe8" data-analytics-allow="false" class="dz_xjzja _2minRfAM ncss-btn-primary-dark bihGx79a" data-qa="cta-button" data-qa-card-id="340bc89e-9add-4cb1-b462-fc23f55ccb38" tabindex="0" data-actiontext="Shop" aria-label="Shop (https://www.nike.com/w/basketball-shoes-3glsmzy7ok)">Shop</a>
                        </div>
                        </div>
                    </figcaption>
                    <a href="https://www.nike.com/w/basketball-shoes-3glsmzy7ok" target="_self" data-analytics-action-id="9831b450-2472-498b-9ed0-b81b6605829c" class="_1GPQ9HJJ" data-qa-card-id="340bc89e-9add-4cb1-b462-fc23f55ccb38" aria-label="Visit https://www.nike.com/w/basketball-shoes-3glsmzy7ok"></a>
                </figure>
            </div>
        </div>
    </div>
</div>

<div id="f8e61e05-f276-408d-9d9f-65f7d3f10aaa" data-qa="grid" data-container-type="filmstrip" data-fluid-grid="false" class="grid Z25uR9U5 fixed-fluid _2IK2ad9n _1WKaQgke css-8fcif css-1wf7v22" style="position:relative">
    <div id="2f08f513-3844-4ad7-81eb-fcdfff05631b" data-qa="grid-row" class="ncss-row grid-row">
        <div id="2f556b14-eb0b-4897-9459-166de2f22fe1" data-qa="grid-col" class="grid-col va-sm-t ncss-col-lg-12 ncss-col-md-12 ncss-col-sm-12 ncss-col-lg-offset-0 ncss-col-md-offset-0 ncss-col-sm-offset-0">
            <div>
                <div data-qa="carousel-filmstrip" class="_2R2A28H4">
                    <section class="GITpVNI9 navigation-mode-scroll grid-aligned css-8nnnrw e1qnw47h0">
                        <div class="carousel-header css-182d90q e1iu6vho0">
                            <div data-analytics-placement-id="b08a0ab0-3698-45fe-8982-850b34c6b37c_0" data-qa="section-headline" class="_355YWnGn mb6-sm _30aP5Ziq">
                                <h2 id="b08a0ab0-3698-45fe-8982-850b34c6b37c" class="text-color-primary-dark _2PzKMD0A carousel-title headline-3">Get Geared Up</h2>
                            </div>
                        </div>
                        <ul class="slider GfXCBJV3" aria-labelledby="b08a0ab0-3698-45fe-8982-850b34c6b37c">
                            <li data-index="0" class="slide item-0 in-view first">
                                <figure data-analytics-placement-id="b08a0ab0-3698-45fe-8982-850b34c6b37c_1" data-analytics-has-landmark="true" data-qa="filmstrip-card" class="_2FHRgMdp _3aSk5rTp">
                                    <div height="maintain" data-qa="image-wrapper" class="_3-GXPD9b Bjx9Yj4a _1J1k7Sv3 media-container _2-o_f_Wg _2TUCh3j2 css-1xufqsp">
                                        <div style="width:100%;height:100%" data-qa="image-media">
                                            <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_591,c_limit/efb4fc5b-aaee-4008-8937-da9506e96868/nike-just-do-it.jpg">
                                        </div>
                                    </div>
                                    <figcaption class="_13xDDA0A _2n345FhB _1uUVQf9l" data-qa="card-overlay">
                                        <div class="_3T7SP3hk" data-qa="card-overlay-content">
                                            <p data-qa="title" class="si35-ISy headline-4 _2svRm8bR text-color-primary-dark" style="color:#000000">Gear Up for Soccer</p>
                                        </div>
                                    </figcaption>
                                    <a data-analytics-action-id="1d89bd6b-7f90-4e32-9e55-f690bb1fe224" class="_1GPQ9HJJ" href="https://www.nike.com/w/soccer-1gdj0" target="_self" aria-label="Visit https://www.nike.com/w/soccer-1gdj0"></a>
                                </figure>
                            </li>
                            <li data-index="1" class="slide item-1 in-view">
                                <figure data-analytics-placement-id="b08a0ab0-3698-45fe-8982-850b34c6b37c_2" data-analytics-has-landmark="true" data-qa="filmstrip-card" class="_2FHRgMdp _3aSk5rTp">
                                    <div height="maintain" data-qa="image-wrapper" class="_3-GXPD9b Bjx9Yj4a _1J1k7Sv3 media-container _2-o_f_Wg _2TUCh3j2 css-1xufqsp">
                                        <div style="width:100%;height:100%" data-qa="image-media">
                                            <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_591,c_limit/13604ef8-183a-416c-a429-c3bae42c79e7/nike-just-do-it.jpg">
                                        </div>
                                    </div>
                                    <figcaption class="_13xDDA0A _2n345FhB _1uUVQf9l" data-qa="card-overlay">
                                        <div class="_3T7SP3hk" data-qa="card-overlay-content">
                                            <p data-qa="title" class="si35-ISy headline-4 _2svRm8bR text-color-primary-dark" style="color:#000000">Gear Up for Volleyball</p>
                                        </div>
                                    </figcaption>
                                    <a data-analytics-action-id="1a626211-ef1c-465c-8059-cd155df5a78c" class="_1GPQ9HJJ" href="https://www.nike.com/w/volleyball-tc2u" target="_self" aria-label="Visit https://www.nike.com/w/volleyball-tc2u"></a>
                                </figure>
                            </li>
                            <li data-index="2" class="slide item-2 in-view last">
                                <figure data-analytics-placement-id="b08a0ab0-3698-45fe-8982-850b34c6b37c_3" data-analytics-has-landmark="true" data-qa="filmstrip-card" class="_2FHRgMdp _3aSk5rTp">
                                    <div height="maintain" data-qa="image-wrapper" class="_3-GXPD9b Bjx9Yj4a _1J1k7Sv3 media-container _2-o_f_Wg _2TUCh3j2 css-1xufqsp">
                                        <div style="width:100%;height:100%" data-qa="image-media">
                                            <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_591,c_limit/aa4efd44-6acd-4650-a03f-68d3dc513611/nike-just-do-it.jpg">
                                        </div>
                                    </div>
                                    <figcaption class="_13xDDA0A _2n345FhB _1uUVQf9l" data-qa="card-overlay">
                                        <div class="_3T7SP3hk" data-qa="card-overlay-content">
                                            <p data-qa="title" class="si35-ISy headline-4 _2svRm8bR text-color-primary-dark" style="color:#000000;padding-bottom: 4em;">Gear Up for Cross Country</p>
                                        </div>
                                    </figcaption>
                                    <a data-analytics-action-id="fead5ad8-8fea-4362-92eb-8a4324af0afc" class="_1GPQ9HJJ" href="https://www.nike.com/w/cross-country-7pvlm" target="_self" aria-label="Visit https://www.nike.com/w/cross-country-7pvlm"></a>
                                </figure>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="360df2ef-5175-4194-8d08-8d4d60c92edf" data-qa="grid" data-container-type="section_headline" data-fluid-grid="false" class="grid Z25uR9U5 fixed-fluid ncss-container _1WKaQgke css-8fcif css-1wf7v22" style="position:relative">
    <div id="b4896f29-546e-4825-9907-b0e5982e8aaf" data-qa="grid-row" class="ncss-row grid-row">
        <div id="fe92ff99-1f0d-4cb8-a852-0cc8956f7758" data-qa="grid-col" class="grid-col va-sm-t ncss-col-lg-12 ncss-col-md-12 ncss-col-sm-12 ncss-col-lg-offset-0 ncss-col-md-offset-0 ncss-col-sm-offset-0">
            <div>
                <div data-analytics-placement-id="afb54714-2f7a-4e5b-bc3e-ce7a792c4eb5" data-qa="section-headline" class="_355YWnGn mb6-sm">
                    <h2 id="0b558203-0ab2-4dc1-9b0b-c9078e985b47" class="text-color-primary-dark _2PzKMD0A card headline-3">Trending Now</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="c72bed86-67c2-4f9f-974f-bd234a9da6b8" data-qa="grid-row" class="ncss-row grid-row">
        <div id="16d00f5b-0d51-4ebe-b306-4bd7a919eba4" data-qa="grid-col" class="grid-col va-sm-t ncss-col-lg-6 ncss-col-md-6 ncss-col-sm-12 ncss-col-lg-offset-0 ncss-col-md-offset-0 ncss-col-sm-offset-0">
            <div>
                <figure data-analytics-placement-id="1ff89c47-fd0f-4444-8fe2-97c1ec3d40df" data-analytics-has-landmark="true" data-qa="image-card" class="image-card _3l8ZuNi4">
                    <div height="maintain" data-qa="image-wrapper" class="_3-GXPD9b _12NrIYxy _1J1k7Sv3 media-container _3gD-bTqH _2TUCh3j2 css-1xufqsp">
                        <div style="width:100%;height:100%" data-qa="image-media">
                            <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_888,c_limit/3832f94b-0de2-4d56-87f7-39b9e79cb180/nike-just-do-it.jpg">
                        </div>
                    </div>
                    <figcaption class="_13xDDA0A _2n345FhB _1uUVQf9l" data-qa="card-overlay">
                        <div class="_3T7SP3hk" data-qa="card-overlay-content">
                            <p data-qa="title" class="si35-ISy headline-4 _2svRm8bR text-color-primary-dark" style="color:#000000">Just In: Serena Williams <br>Design Crew Collection</p>
                            <div class="YEqpdVMc cta-container hasText" data-qa="cta-container">
                                <a href="https://www.nike.com/w/serena-williams-a0o00" target="_self" data-analytics-action-id="98edf470-93be-4038-b683-016418ea24e0" data-analytics-allow="false" class="dz_xjzja _2minRfAM ncss-btn-primary-light bihGx79a" data-qa="cta-button" data-qa-card-id="fcd2211b-6784-46e4-a97f-7272b17ad1e6" tabindex="0" data-actiontext="Shop" aria-label="Shop (https://www.nike.com/w/serena-williams-a0o00)">Shop</a>
                            </div>
                        </div>
                    </figcaption>
                    <a href="https://www.nike.com/w/serena-williams-a0o00" target="_self" data-analytics-action-id="08c76170-2637-47fd-aa65-31d5d3e812b5" class="_1GPQ9HJJ" data-qa-card-id="fcd2211b-6784-46e4-a97f-7272b17ad1e6" aria-label="Visit https://www.nike.com/w/serena-williams-a0o00"></a>
                </figure>
            </div>
        </div>
        <div id="6d320e64-111b-4c76-8a55-0e487df4a394" data-qa="grid-col" class="grid-col va-sm-t ncss-col-lg-6 ncss-col-md-6 ncss-col-sm-12 ncss-col-lg-offset-0 ncss-col-md-offset-0 ncss-col-sm-offset-0">
            <div>
                <figure data-analytics-placement-id="8cf4abf0-9984-468e-8f71-fe739885068f" data-analytics-has-landmark="true" data-qa="image-card" class="image-card _3l8ZuNi4">
                    <div height="maintain" data-qa="image-wrapper" class="_3-GXPD9b _12NrIYxy _1J1k7Sv3 media-container _3gD-bTqH _2TUCh3j2 css-1xufqsp">
                        <div style="width:100%;height:100%" data-qa="image-media">
                            <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_888,c_limit/f73754c8-89eb-4bf0-97c8-c940206aecbf/nike-just-do-it.jpg">
                        </div>
                    </div>
                    <figcaption class="_13xDDA0A _2n345FhB _1uUVQf9l" data-qa="card-overlay">
                        <div class="_3T7SP3hk" data-qa="card-overlay-content">
                            <p data-qa="title" class="si35-ISy headline-4 _2svRm8bR text-color-primary-dark" style="color:#000000">Explore Serena’s New Looks</p>
                            <div class="YEqpdVMc cta-container hasText" data-qa="cta-container">
                                <a href="https://www.nike.com/a/serena-williams-design-crew-origin" style="padding-bottom: 4em;"target="_self" data-analytics-action-id="b721b4c7-7566-465e-b275-38fcc30b6f81" data-analytics-allow="false" class="dz_xjzja _2minRfAM ncss-btn-primary-light bihGx79a" data-qa="cta-button" data-qa-card-id="315bfc14-b692-4bb5-a50c-75c4f3f2666c" tabindex="0" data-actiontext="Learn More" aria-label="Learn More (https://www.nike.com/a/serena-williams-design-crew-origin)">Learn More</a>
                         </div>
                        </div>
                    </figcaption>
                    <a href="https://www.nike.com/a/serena-williams-design-crew-origin" target="_self" data-analytics-action-id="63cd1b9b-eb2b-4e5f-aaaf-df0f4ee117cd" class="_1GPQ9HJJ" data-qa-card-id="315bfc14-b692-4bb5-a50c-75c4f3f2666c" aria-label="Visit https://www.nike.com/a/serena-williams-design-crew-origin"></a>
                </figure>
            </div>
        </div>
    </div>
</div>