<div class="card imgpadding text-white">
    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/w_1792,c_limit/2f74a6fb-5d13-4bc3-a8dd-567016efefc0/nike-just-do-it.jpg" class="card-img" alt="...">
    <div class="card-img-overlay fleecepad">
      <h5 class="card-title gfont">Presenting <br>Nike Fleece</h5>
      <p class="card-text">We all have go-to sweats &amp; a fav hoodie, <br>but Nike Fleece is so much more.</p>     
      <div class="d-grid gap-2 d-md-block">
         <button class="btn gbtn btn-light bg-white" type="button">Shop</button>
         <button class="btn gbtn btn-light bg-white" type="button">Explore</button>
      </div>    
    </div>
</div>

<app-body2>Loading</app-body2>
<app-body3>Loading</app-body3>
<app-body4>Loading</app-body4>
<app-body5>Loading</app-body5>  