<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-converse_sidebar></app-converse_sidebar>
        </div>
        <div class="col-10">
            <div class="">
                <div class="row row-cols-3">
                    <div *ngFor="let CardData of Item;">
                        <app-converse-card name="{{CardData.name}}" product_type="{{CardData.product_type}}"
                            number_colors="{{CardData.number_colors}}" price="{{CardData.price}}"
                            imagePath="{{CardData.imagePath}}">Loading Card</app-converse-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>