<div class="headingpad d-flex">
    <h2 class="fontxl ps-3">Nike Membership</h2>
</div>

<div class="d-flex flex-column align-content-center">
    <h5 class="">Where All Athletes Belong</h5>
    <p class="">When you’re with us, you’re part of something bigger: a</p>
    <p class="">global community dedicated to bringing out the best in one</p>
    <p class="">another, with access to the most effective tools for the job,</p>
    <p class="">including Member-exclusive products, Nike By You</p>
    <p class="">customization, and special offers.</p>     
    <div class="">
          <button class="btn gbtn btn-dark" type="button" href="#">Shop</button>
    </div>    
</div>