<div class="container-fluid px-0">
    <div class="d-flex flex-row">
        <div class="col px-0">
            <app-top-nav-bar>Loading</app-top-nav-bar>
            <app-top-nav-bar2>Loading</app-top-nav-bar2>
            <app-top-nav-bar3>Loading</app-top-nav-bar3>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="col px-0">
            <app-body>Loading</app-body>
            <app-body2>Loading</app-body2>
            <app-body3>Loading</app-body3>
            <app-body4>Loading</app-body4>
            <app-body5>Loading</app-body5>            
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="col px-0">
            <app-bottom-nav-bar>Loading</app-bottom-nav-bar>
        </div>
    </div>
</div>